.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 110px;
  border-radius: 50px;
  box-shadow: 0px 18px 44px 2px rgba(62,66,66,0.1);
  border: none;
}

.sidenav .mat-toolbar {
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 3;
}

.earth-icon {
  width: 6rem;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  justify-content: center;
}

.mat-list-base {
  padding-top: 6rem;
}

.mat-list-item {
  opacity: 0.8;
  transition: 0.3s
}

.mat-list-item:hover {
  color: #8854FF;
  opacity: 1;
}

.active {
  color: #8854FF;
}

.inactive {
  color: rgb(225, 218, 241);
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
  border: none;
  border-radius: 15px;
  background-color: #8854FF;
  color: white;
  width: 50px;
}

.search-box {
  flex: 1;
  border-radius: 40px;
  margin-left: 50px;
}

.search-input:focus {
  box-shadow: none;
}

.search-input {
  border-radius: 15px;
  height: 52px;
  border: none;
  outline: none;
  padding-left: 2rem;
  font-style: italic;
}

.input-button:hover {
  color: lightgray !important;
}

.credit-card-container {
  display: flex;
}

.credit-cards {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.credit-card {
  transform: rotate(270deg);
  box-shadow: -4px -20px 29px 0px rgb(62 66 66 / 37%);
  height: 126px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-right: -8rem;
  padding-bottom: 32px;
}

.zoom {
  transition: margin-right .3s ease-in-out;
}
.zoom:hover {
  transform: rotate(270deg) ;
  cursor: pointer;
  margin-right: -84px;
  transition: margin-right .3s ease-in-out;
}

.mastercard {
  margin-top: -5px;
  margin-right: 12px;
}

.dots {
  width: 58px;
}

.transfer-card {
  height: 206px;
  border-radius: 20px;
  background: white;
  box-shadow: -16px 8px 46px 10px rgb(62 66 66 / 37%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 2rem;
}

.transfer-pictures {
  display: flex;
}

.transfer-pix {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  width: 40px;
  margin-right: -10px;
}

.card-box {
  border-radius: 40px;
}

.transactions {
  height: 60px;
  width: 100%;
  margin-block: .5rem;
  transition: box-shadow .4s ease-in-out;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border-radius: 15px;
}

.transactions .transaction-cost {
  font-weight: bold;
}

.transactions .transaction-time {
  color: rgba(0,0,0,0.3);
}

.transactions:hover {
  transform: scale(1.03);
  transition: all .3s ease-in-out;
  border-radius: 15px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  cursor: pointer;
  background-color: snow;
}

.transactions .logo {
  width: 40px;
}

.transactions p {
  margin: 0;
}

.statistics {
  height: 250px;
  width: 100%;
  border-radius: 15px;
}

.main-card {
  cursor: pointer;
  transition: transform .4s ease-in-out;
}

.main-card:hover {
  transform: scale(1.02);
}

.core-card {
  text-align: center;
}

 .mat-icon-button {
   color: skyblue;
 }

@media only screen and (max-width: 600px) {
  .core-card {
    margin-bottom: 2rem;
  }

  .credit-cards {
    margin-bottom: 4rem;
    padding-block: 1rem;
    margin-left: -2rem;
  }

  .transfer-links {
    margin-top: 4rem;
  }
}
