<div class="head-container">
  <div class="input-group mb-3 shadow-lg search-box">
    <input type="text" class="form-control search-input" placeholder="Search..." aria-label="Recipient's username"
           aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn input-button" type="button" id="button-addon2"><i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div class="head-shot">
    <div><img class="profile-pix" src="/assets/images/home-page/afolabi.jpg" alt=""></div>
    <p class="text-dark mr-3 name">Joshua Ikenga</p>
    <mat-icon class="text-dark mt-n2">notifications</mat-icon>
  </div>
</div>
