/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white }

.mat-list-base .mat-list-item .mat-list-item-content {
  justify-content: center;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 120px;
}

.mat-toolbar.mat-primary {
  background: white;
  color: #fff;
}


element.style {
}
.sidenav-container {
  height: 100%;
}

 .mat-drawer-container {
   position: relative;
   z-index: 1;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
   display: block;
   overflow: hidden;
 }
.mat-drawer-container {
  background-color: white;
}

.mat-nav-list .mat-list-item {
  max-width: 48px;
  margin: 20px auto;
  padding: 6px !important;
  border-radius: 15px;
  box-shadow: 6px 8px 22px 0px rgba(62,66,66,0.27);
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  margin-top: -5px;
}

::-webkit-scrollbar {
  width: 0.5em
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 100vw;
  margin-block: .5em ;
}

::-webkit-scrollbar-thumb {
  background: powderblue;
  border-radius: 100vw;
  border: 1px solid white;
}

@supports (scrollbar-color: powderblue white) {
  * {
    scrollbar-color: powderblue white;
    scrollbar-width: thin;
  }
}
